*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h1{
    text-align: center;
    color:black;
    font-size: 3rem;
}

#square {
    width: 650px;
    height: 650px;
    margin: 30px auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.cell-100 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-81 {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-49 {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-good{
    background-color: rgb(12, 227, 12);
}

.cell-dangerous{
    background-color: red;
}

.block-cell-red{
    pointer-events: none;
}

.click-none{
    pointer-events: none;
}

#result {
    width: 500px;
    background-color:black;
    margin: 30px auto;
}

.game-over{
    text-align: center;
    display: none;
}

.game-over h2{
    color: red;
}

.winner{
   text-align: center;
   display: none;
}

.winner h2{
    color: green;
}